xsd/element/complex/FormatDefinition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:include schemaLocation="../../attribute/AttributeGroupDefinition.xsd"/>
    
    <xs:complexType name="yigo-CellFormat">
        <xs:annotation>
            <xs:documentation>CellFormat定义</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Font" type="yigo-Font" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="HAlign" type="yigo-HAlignment"/>
        <xs:attribute name="VAlign" type="yigo-VAlignment"/>
        <xs:attribute name="LeftBorder" type="yigo-Boolean"/>
        <xs:attribute name="TopBorder" type="yigo-Boolean"/>
        <xs:attribute name="RightBorder" type="yigo-Boolean"/>
        <xs:attribute name="BottomBorder" type="yigo-Boolean"/>
    </xs:complexType>

    <xs:complexType name="yigo-Component-Format">
        <xs:annotation>
            <xs:documentation>控件Format（非日期格式化）定义</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Font" type="yigo-Font" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="HAlign" type="yigo-HAlignment"/>
        <xs:attribute name="VAlign" type="yigo-VAlignment"/>
        <xs:attribute name="Color" type="yigo-Color"/>
        <xs:attribute name="ForeColor" type="yigo-Color-Formula"/>
        <xs:attribute name="BackColor" type="yigo-Color-Formula"/>
        <xs:attribute name="HighlightColor" type="yigo-Color"/>
    </xs:complexType>
    
    <xs:complexType name="yigo-Font">
        <xs:annotation>
            <xs:documentation>字体定义</xs:documentation>
        </xs:annotation>
        <xs:attribute name="Bold" type="yigo-Boolean"/>
        <xs:attribute name="Italic" type="yigo-Boolean"/>
        <xs:attribute name="Name" type="xs:string"/>
        <xs:attribute name="Size" type="yigo-Int-GreaterThan_EqualTo_Zero"/>
        <xs:attribute name="Underline" type="yigo-Boolean"/>
        <xs:attribute name="UnderlineColor" type="yigo-Color"/>
    </xs:complexType>
</xs:schema>
