xsd/element/complex/FormRelationCollection.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:include schemaLocation="../../attribute/AttributeGroupDefinition.xsd"/>

	<xs:annotation>
		<xs:documentation>数据源表单关系（复合字典用）</xs:documentation>
	</xs:annotation>

	<!-- FormType="CompDict" 才用这个 -->
	 
	<xs:complexType name="yigo-FormRelationCollection">
		<xs:sequence>			 
			<xs:element name="FormRelation" type="yigo-FormRelation" minOccurs="1" maxOccurs="unbounded"/>		 
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="yigo-FormRelation">
		<xs:attribute name="DataObjectKey" type="yigo-Key"/>
		<xs:attribute name="FormKey" type="yigo-Key"/>
	</xs:complexType>
</xs:schema>
