xsd/element/complex/PanelDefine.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="../../attribute/AttributeGroupDefinition.xsd"/>
	<xs:include schemaLocation="GridLayoutPanel.xsd"/>
	<xs:include schemaLocation="Grid.xsd"/>
	<xs:include schemaLocation="APPPanelDefine.xsd"/>
	<xs:include schemaLocation="APPBaseControlDefinition.xsd"/>

	<xs:annotation>
		<xs:documentation>ERP系统Panel的定义</xs:documentation>
	</xs:annotation>
	
	<xs:group name="BasePanelGroup">
		<xs:choice>
			<xs:element ref="GridLayoutPanel"/>
			<xs:element ref="FlexFlowLayoutPanel"/>
			<xs:element ref="FlexGridLayoutPanel"/>
			<xs:element ref="FlowLayoutPanel"/>
			<xs:element ref="BorderLayoutPanel"/>
			<xs:element ref="Embed"/>
			<xs:element ref="TabPanel"/>
			<xs:element ref="SplitPanel"/>
			<xs:element ref="Container"/>
			<xs:element ref="Grid"/>
			<xs:element ref="SubDetail"/>
			<xs:element ref="DictView"/>
			<xs:element ref="LinearLayoutPanel"/>
			<xs:element ref="PopView"/>
			<xs:element ref="HoverButton"/>
			<xs:element ref="TableView"/>
			<xs:element ref="TabGroup"/>
			<xs:element ref="TableRow"/>
			<xs:element ref="Chart"/>
		</xs:choice>
	</xs:group>

	<xs:complexType name="yigo-Block">
		<xs:choice maxOccurs="unbounded">
			<xs:group ref="BasePanelGroup"/>
			<xs:element ref="Format"/>
		</xs:choice>
		<xs:attribute name="Key" type="yigo-Key"/>
		<xs:attribute name="Caption" type="xs:string"/>
	</xs:complexType>

	<xs:element name="TabPanel">
		<xs:annotation>
			<xs:documentation>分页布局面板，属于布局类控件</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Format" minOccurs="0"/>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="BaseControlGroup"/>
					<xs:group ref="BasePanelGroup"/>
				</xs:choice>
				<xs:element name="ItemChanged" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Tab页切换触发事件</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attributeGroup ref="yigo-Key-Caption"/>
			<xs:attributeGroup ref="yigo-Visible-Enable"/>
			<xs:attributeGroup ref="yigo-Component-XY"/>
			<xs:attributeGroup ref="yigo-Panel-layout-collection"/>
			<xs:attribute name="TabPosition" type="yigo-DirectionType">
				<xs:annotation>
					<xs:documentation>Tab页的相对分页栏的位置（上、下、左、右）</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
		<xs:unique name="uniqueTabPanelControlKey">
			<xs:selector xpath="./*"/>
			<xs:field xpath="@Key"/>
		</xs:unique>
	</xs:element>
	
	<xs:element name="Container">
		<xs:annotation>
			<xs:documentation>容器控件</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Format" minOccurs="0"/>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="BasePanelGroup"/>
				</xs:choice>
			</xs:sequence>
			<xs:attributeGroup ref="yigo-Key-Caption"/>
			<xs:attributeGroup ref="yigo-Visible-Enable"/>
			<xs:attributeGroup ref="yigo-Component-XY"/>
			<xs:attributeGroup ref="yigo-Panel-layout-collection"/>
			<xs:attribute name="Style" type="yigo-Container-Style">
				<xs:annotation>
					<xs:documentation>容器样式</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="MergeOperation" type="yigo-Boolean">
				<xs:annotation>
					<xs:documentation>是否合并操作至父界面</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="DefaultFormKey" type="yigo-Key-Restriction50">
				<xs:annotation>
					<xs:documentation>默认打开的表单标识</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="FormulaFormKey" type="yigo-Formula">
				<xs:annotation>
					<xs:documentation>表达式表示的表单标识，优先级高于defaultFormKey</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
		<xs:unique name="uniqueContainerControlKey">
			<xs:selector xpath="./*"/>
			<xs:field xpath="@Key"/>
		</xs:unique>
	</xs:element>
	
	<xs:element name="FlexGridLayoutPanel">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Format" minOccurs="0"/>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="BaseControlGroup"/>
					<xs:group ref="BasePanelGroup"/>
				</xs:choice>
			</xs:sequence>
			<xs:attributeGroup ref="yigo-Key-Caption"/>
			<xs:attributeGroup ref="yigo-Visible-Enable"/>
			<xs:attributeGroup ref="yigo-Panel-layout-collection"/>
			<xs:attribute name="ColumnCount" type="xs:int"/>
			<xs:attribute name="ColumnGap" type="xs:int"/>
			<xs:attribute name="RowGap" type="xs:int"/>
			<xs:attribute name="RowHeight" type="xs:int"/>
			<xs:attributeGroup ref="yigo-Component-XY"/>
		</xs:complexType>
		<xs:unique name="uniqueFlexGridLayoutPanelControlKey">
			<xs:selector xpath="./*"/>
			<xs:field xpath="@Key"/>
		</xs:unique>
	</xs:element>
	
	<xs:element name="FlowLayoutPanel">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Format" minOccurs="0"/>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="BaseControlGroup"/>
					<xs:group ref="BasePanelGroup"/>
				</xs:choice>
			</xs:sequence>
			<xs:attributeGroup ref="yigo-Key-Caption"/>
			<xs:attributeGroup ref="yigo-Visible-Enable"/>
			<xs:attributeGroup ref="yigo-Panel-layout-collection"/>
		</xs:complexType>
		<xs:unique name="uniqueFlowLayoutPanelControlKey">
			<xs:selector xpath="./*"/>
			<xs:field xpath="@Key"/>
		</xs:unique>
	</xs:element>
	
	<xs:element name="BorderLayoutPanel">
		<xs:complexType>
			<xs:sequence>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="BaseControlGroup"/>
					<xs:group ref="BasePanelGroup"/>
					<xs:element ref="Format"/>
				</xs:choice>
			</xs:sequence>
			<xs:attributeGroup ref="yigo-Key-Caption"/>
			<xs:attributeGroup ref="yigo-Visible-Enable"/>
			<xs:attributeGroup ref="yigo-Panel-layout-collection"/>
		</xs:complexType>
		<xs:unique name="uniqueBorderLayoutPanelControlKey">
			<xs:selector xpath="./*"/>
			<xs:field xpath="@Key"/>
		</xs:unique>
	</xs:element>
	
	<xs:element name="SubDetail">
		<xs:annotation>
			<xs:documentation>嵌入子明细配置</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Format" minOccurs="0"/>
				<xs:choice maxOccurs="unbounded">
					<xs:group ref="BasePanelGroup"/>
				</xs:choice>
			</xs:sequence>
			<xs:attributeGroup ref="yigo-Key-Caption"/>
			<xs:attributeGroup ref="yigo-Visible-Enable"/>
			<xs:attribute name="BindingGridKey" type="yigo-Key">
				<xs:annotation>
					<xs:documentation>嵌入子明细关联的表格的标识</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attributeGroup ref="yigo-Component-XY"/>
			<xs:attributeGroup ref="yigo-Panel-layout-collection"/>
		</xs:complexType>
		<xs:unique name="uniqueSubDetailControlKey">
			<xs:selector xpath="./*"/>
			<xs:field xpath="@Key"/>
		</xs:unique>
	</xs:element>

	<xs:element name="FlexFlowLayoutPanel" type="yigo-FlexFlowLayoutPanel">
		<xs:unique name="uniqueFlexFlowLayoutPanelControlKey">
			<xs:selector xpath="./*"/>
			<xs:field xpath="@Key"/>
		</xs:unique>
	</xs:element>
	<xs:complexType name="yigo-FlexFlowLayoutPanel">
		<xs:sequence>
			<xs:element ref="Format" minOccurs="0"/>
			<xs:element ref="ToolBar" minOccurs="0"/>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:group ref="BaseControlGroup"/>
				<xs:group ref="BasePanelGroup"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="yigo-Key-Caption"/>
		<xs:attributeGroup ref="yigo-Component-XY"/>
		<xs:attributeGroup ref="yigo-Visible-Enable"/>
		<xs:attributeGroup ref="yigo-Panel-layout-collection"/>
	</xs:complexType>

	<xs:element name="DictView">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RowClick" type="yigo-BaseScript2" minOccurs="0"/>
				<xs:element name="RowDblClick" type="yigo-BaseScript2" minOccurs="0"/>
				<xs:element ref="FocusRowChanged" minOccurs="0"/>
				<xs:element name="DictViewColumnCollection" type="yigo-DictViewColumnCollection" minOccurs="0"/>
				<xs:element ref="ItemFilter" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attributeGroup ref="yigo-Key-Caption"/>
			<xs:attributeGroup ref="yigo-Visible-Enable"/>
			<xs:attributeGroup ref="yigo-Panel-layout-collection"/>
			<xs:attributeGroup ref="yigo-Component-XY"/>
			<xs:attribute name="FormulaItemKey" type="yigo-Formula"/>
            <xs:attribute name="LoadType" type="yigo-LoadType"/>
			<xs:attribute name="PageRowCount" type="xs:int"/>
		</xs:complexType>
		<xs:unique name="uniqueDictViewControlKey">
			<xs:selector xpath="./*"/>
			<xs:field xpath="@Key"/>
		</xs:unique>
	</xs:element>

	<xs:element name="ToolBar" type="yigo-ToolBar"/>
	<xs:complexType name="yigo-ToolBar">
		<xs:sequence>
			<xs:element name="ToolBarItemCollection" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="yigo-Key-Caption"/>
		<xs:attribute name="CaptionEn" type="xs:string"/>
		<xs:attributeGroup ref="yigo-Visible-Enable"/>
		<xs:attributeGroup ref="yigo-Component-XY"/>
		<xs:attributeGroup ref="yigo-Panel-layout-collection"/>
	</xs:complexType>

	<xs:element name="SplitPanel" type="yigo-SplitPanel">	
		<xs:unique name="uniqueSplitPanelControlKey">
			<xs:selector xpath="./*"/>
			<xs:field xpath="@Key"/>
		</xs:unique>
	</xs:element>
	
	<xs:complexType name="yigo-SplitPanel">
		<xs:choice maxOccurs="unbounded">
			<xs:group ref="BaseControlGroup"/>
			<xs:group ref="BasePanelGroup"/>
			<xs:element name="SplitSize">
				<xs:complexType>
					<xs:attributeGroup ref="yigo-SplitPanel-SplitSize-Attr"/>
				</xs:complexType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="yigo-Key-Caption"/>
		<xs:attributeGroup ref="yigo-Component-XY"/>
		<xs:attributeGroup ref="yigo-Visible-Enable"/>
		<xs:attributeGroup ref="yigo-Panel-layout-collection"/>
		<xs:attribute name="Orientation" type="yigo-OrientationType"/> 
	</xs:complexType>
	
	<xs:element name="RowDefCollection">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RowDef" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute ref="Height"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="RowHeight" type="xs:int"/>
			<xs:attribute name="RowGap" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="ColumnDefCollection">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ColumnDef" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute ref="Width"/>
						<xs:attribute ref="MinWidth"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="ColumnGap" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	 
</xs:schema>
