xsd/DataElementDef.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:include schemaLocation="element/complex/DataElementDefDefine.xsd"/>

    <xs:annotation>
		<xs:documentation>ERP系统DataElementDef的属性检查规则</xs:documentation>
	</xs:annotation>

    <xs:element name="DataElementDef">
        <xs:annotation>
            <xs:documentation>ERP系统DataElementDef的属性检查规则</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="DataElementCollection">
                    <xs:annotation>
                        <xs:documentation>ERP系统DataElementDef的属性检查规则</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="DataElement" type="yigo-DataElement" maxOccurs="unbounded" minOccurs="1"/>
                        </xs:sequence>
                    </xs:complexType>
                    <xs:unique name="uniqueDataElementKey">
                        <xs:selector xpath="DataElement"/>
                        <xs:field xpath="@Key"/>
                    </xs:unique>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>