xsd/Entry.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:include schemaLocation="attribute/restriction/AttributeRestriction.xsd"/>
    <xs:include schemaLocation="attribute/AttributeGroupDefinition.xsd"/>
    <xs:include schemaLocation="element/complex/EntryDefine.xsd"/>

    <xs:annotation>
        <xs:documentation>ERP系统Entry的属性检查规则</xs:documentation>
    </xs:annotation>

    <xs:element name="Entry">
        <xs:annotation>
            <xs:documentation>入口项集合</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element name="EntryItem" type="yigo-Entry-EntryItem">
                        <xs:annotation>
                            <xs:documentation>入口项</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element ref="Entry"/>
                </xs:choice>
            </xs:sequence>
            <xs:attribute name="Key" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation>入口项标识</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Caption" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation>入口项名称</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Visible" type="yigo-Boolean-Formula">
                <xs:annotation>
                    <xs:documentation>可见性</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Open" type="yigo-Boolean">
                <xs:annotation>
                    <xs:documentation>是否展开子项</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="IconCode" type="xs:string">
                <xs:annotation>
                    <xs:documentation>图标编码</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
        <xs:unique name="uniqueEntryKey">
            <xs:selector xpath=".//*"/>
            <xs:field xpath="@Key"/>
        </xs:unique>
    </xs:element>
</xs:schema>